<ion-header>
  <ion-toolbar>
    <ion-title>diaries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="toolbar-img">
    <ion-item lines="none">
      <ion-img src="/assets/img/diary2.png"></ion-img>
    </ion-item>
  </div>
  <ion-button (click)="addNew()" color="success" expand="full">ADD NEW </ion-button>
  <ion-list>
    <ion-item>
      <ion-label color="danger">DATE</ion-label>
      <ion-label color="danger">CALORIES</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>06/10/2020</ion-label>
      <ion-label>1980 / 2020</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>05/10/2020</ion-label>
      <ion-label>2300 / 2020</ion-label>
    </ion-item>
  </ion-list>
</ion-content>