<ion-header>
  <ion-toolbar>
    <ion-title>foods</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
    <ion-button slot="end" color="success" (click)="add()">Adicionar</ion-button>
  </ion-item>
  
<ion-list>
  <ion-item-sliding>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>ARROZ COZIDO</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label color="warning">Protein: 2.5</ion-label>
          <ion-label color="primary">Carbohydrate: 28.1</ion-label>
          <ion-label color="danger">Fat: 0.2</ion-label>
          <ion-label>Portion: 100</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit()" color="warning">Editar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>FEIJÃO COZIDO</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label color="warning">Protein: 4.8</ion-label>
          <ion-label color="primary">Carbohydrate: 13.6</ion-label>
          <ion-label color="danger">Fat: 0.5</ion-label>
          <ion-label>Portion: 100</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit()" color="warning">Editar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

  <ion-item-sliding>
    <ion-item>
      <ion-card>
        <ion-card-header>
          <ion-card-title>PEITO DE FRANGO</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <ion-label color="warning">Protein: 32</ion-label>
          <ion-label color="primary">Carbohydrate: 0</ion-label>
          <ion-label color="danger">Fat: 2.1</ion-label>
          <ion-label>Portion: 100</ion-label>
        </ion-card-content>
      </ion-card>
    </ion-item>
    <ion-item-options side="end">
      <ion-item-option (click)="edit()" color="warning">Editar</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
</ion-content>
