<ion-content>
    <ion-item lines="none">
        <ion-img src="/assets/img/fruit-salad.png"></ion-img>
    </ion-item>
    <ion-list>
        <ion-item>
            <ion-label position="floating"> Name</ion-label>
            <ion-input [(ngModel)]="data.name"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="number">Protein</ion-label>
            <ion-input [(ngModel)]="data.protein"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="number">Carbohydrate</ion-label>
            <ion-input [(ngModel)]="data.carbohydrate"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="number">Fat</ion-label>
            <ion-input [(ngModel)]="data.fat"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating" type="number">Portion</ion-label>
            <ion-input [(ngModel)]="data.portion"></ion-input>
        </ion-item>

    </ion-list>
    <ion-button expand="block" class="first-btn" color="success" (click)="save()">Done</ion-button>
    <ion-button expand="block" color="danger" (click)="cancel()">Cancel</ion-button>

</ion-content>