<ion-header>
  <ion-toolbar>
    <ion-title>diaries</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="chevron-down-circle-outline" pullingText="Pull to refresh"
      refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  
  <div class="toolbar-img">
    <ion-item lines="none">
      <ion-img src="/assets/img/diary2.png"></ion-img>
    </ion-item>
  </div>
  <ion-button (click)="addNew()" color="success" expand="full">ADD NEW </ion-button>
  <ion-list>
    <ion-item>
      <ion-label color="danger">DATE</ion-label>
      <ion-label color="danger">CALORIES</ion-label>
    </ion-item>
    <ion-item *ngFor="let total of totalCalorie">
      <ion-label>{{ total.date }}</ion-label>
      <ion-label>{{ total.total }} / {{ total.recommendedCalorie }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>