<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item lines="none">
        <ion-icon name="finger-print-outline" slot="start"></ion-icon>
        <ion-label position="floating">Usuário</ion-label>
        <ion-input [(ngModel)]="data.username" type="text"></ion-input>
      </ion-item>

      <ion-item lines="none">
        <ion-icon name="lock-open-outline" slot="start"></ion-icon>
        <ion-label position="floating">Senha</ion-label>
        <ion-input [(ngModel)]="data.password" type="password"></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button color="primary" (click)="doConfirmar()" expand="full">Confirmar</ion-button>
        </ion-col>
        <ion-col>
          <ion-button color="medium" (click)="doLimpar()" expand="full">Limpar</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>