ion-list {
    margin-top: 0px !important;
}

.first-btn {
    margin-top: 20px;
}

ion-button {
    margin-left: 10%;
    margin-right: 10%;
}

ion-img {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 0px;
}
