<ion-content>
  <ion-item lines="none">
      <ion-img src="/assets/img/gymnast.png"></ion-img>
  </ion-item>
  <ion-list>
      <ion-item>
          <ion-label position="floating"> Username</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" type="number">Age</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" type="number">Height</ion-label>
          <ion-input></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="floating" type="number">Weight</ion-label>
          <ion-input></ion-input>
      </ion-item>

  </ion-list>
  <ion-button expand="block" class="first-btn" color="success">Done</ion-button>
  <ion-button expand="block" color="danger" (click)="cancel()">Cancel</ion-button>

</ion-content>