<ion-content [fullscreen]="true" class="conteudo">
  <ion-card class="main-card" (click)="navigateToDiaries()">
    <ion-card-header>
      <ion-card-subtitle>Your daily control</ion-card-subtitle>
      <ion-card-title>Diaries</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/img/diary.png" style="width: 50px;"></ion-img>
    </ion-card-content>
  </ion-card>
  <ion-card (click)="navigateToFoods()">
    <ion-card-header>
      <ion-card-subtitle>Manage all food</ion-card-subtitle>
      <ion-card-title>Food</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/img/diet.png" style="width: 50px;"></ion-img>
    </ion-card-content>
  </ion-card>

  <ion-card (click)="navigateToProfile()">
    <ion-card-header>
      <ion-card-subtitle>Manage your profile</ion-card-subtitle>
      <ion-card-title>Profile</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-img src="assets/img/fitness.png" style="width: 50px;"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>